spring:
#  main:
#    web-application-type: none
  application:
    name: careermate
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:MyPostgresDB} #${NEON_URL}
    username: ${DB_USER_LOCAL:root} #${DB_USER:root}
    password: ${DB_PASSWORD_LOCAL:123456} #${DB_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 499458711867-af9f55oshkgfj6m9tanditsps2fdcsri.apps.googleusercontent.com #${GOOGLE_CLIENT_ID}
            client-secret: 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 #${GOOGLE_CLIENT_SECRET}
            scope:
              - profile
              - email




  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_NAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  valid-duration: 900 # in second
  refreshable-duration: 604800 # in second
  # in seconds

vnpay:
  tmn-code: ${vnp_TmnCode:default}
  secret-key: ${vnp_HashSecret:default}
  pay-url: "https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
  api-url: "https://sandbox.vnpayment.vn/merchant_webapi/api/transaction"
  return-url: "http://localhost:8080/api/payment/return"

# Firebase config
firebase:
  project-id: careermate-97d8c
  bucket-name: careermate-97d8c.firebasestorage.app
  credentials:
    path: classpath:firebase-service-account.json
